Repository guildedjs/guilded.js, pull requests merged in 2022-06, with the labels that each got.

#131 feat: add ban method to Member
  packages/guilded.js/lib/structures/Member.ts
Labels: enhancement, pkg: guilded.js

#130 feat: message mentions
  packages/guilded-api-typings/lib/v1/structs/Message.ts
  packages/guilded.js/lib/structures/Message.ts
Labels: enhancement, pkg: guilded.js, pkg: guilded-api-typings

#132 feat: servers
  .changeset/quick-tables-leave.md
  packages/guilded-api-typings/lib/v1/rest/Server.ts
  packages/guilded-api-typings/lib/v1/rest/index.ts
  packages/guilded-api-typings/lib/v1/structs/Server.ts
  packages/guilded-api-typings/lib/v1/structs/index.ts
  packages/guilded.js/lib/managers/global/ServerManager.ts
  packages/guilded.js/lib/structures/Client.ts
  packages/guilded.js/lib/structures/Server.ts
  packages/rest/lib/util/Router.ts
  packages/rest/lib/util/routes.ts
Labels: enhancement, pkg: guilded.js, pkg: guilded-api-typings, pkg: rest

#135 feat: date props now hold numbers with date getters
  packages/guilded.js/lib/structures/Member.ts
  packages/guilded.js/lib/structures/Message.ts
  packages/guilded.js/lib/structures/Server.ts
  packages/guilded.js/lib/structures/User.ts
  packages/guilded.js/lib/structures/Webhook.ts
  packages/guilded.js/lib/structures/channels/Channel.ts
Labels: enhancement, pkg: guilded.js

#141 feat: replace deprecated forumThread with forumTopic
  .changeset/long-trees-compare.md
  packages/guilded-api-typings/lib/v1/rest/Forum.ts
  packages/guilded-api-typings/lib/v1/structs/Forum.ts
  packages/guilded.js/lib/managers/global/ForumManager.ts
  packages/guilded.js/lib/structures/channels/ForumChannel.ts
  packages/rest/lib/util/Router.ts
  packages/rest/lib/util/routes.ts
Labels: enhancement, pkg: guilded.js, pkg: guilded-api-typings, pkg: rest

#140 feat: mentions prop in list item
  packages/guilded-api-typings/lib/v1/structs/List.ts
Labels: enhancement, pkg: guilded-api-typings

#146 Cooldown customizer
  packages/gil/lib/BotClient.ts
  packages/gil/lib/inhibitors/cooldown.ts
  packages/gil/lib/structures/Command.ts
Labels: enhancement, pkg: gil

#149 feat: reaction events, delete reaction method
  .changeset/smooth-suns-drive.md
  packages/guilded-api-typings/lib/v1/rest/Reaction.ts
  packages/guilded-api-typings/lib/v1/structs/Emote.ts
  packages/guilded-api-typings/lib/v1/structs/index.ts
  packages/guilded-api-typings/lib/v1/ws/Events.ts
  packages/guilded-api-typings/lib/v1/ws/Reaction.ts
  packages/guilded-api-typings/lib/v1/ws/index.ts
  packages/guilded.js/lib/constants.ts
  packages/guilded.js/lib/gateway/ClientGatewayHandler.ts
  packages/guilded.js/lib/gateway/handler/ReactionEventHandler.ts
  packages/guilded.js/lib/managers/global/MessageManager.ts
  packages/guilded.js/lib/managers/global/ReactionManager.ts
  packages/guilded.js/lib/structures/Client.ts
  packages/guilded.js/lib/structures/Message.ts
  packages/guilded.js/lib/util.ts
  packages/rest/lib/util/Router.ts
Labels: enhancement, pkg: guilded.js, pkg: guilded-api-typings, pkg: rest

#151 feat: calendar events
  .changeset/itchy-donuts-care.md
  packages/guilded-api-typings/lib/v1/rest/CalendarEvent.ts
  packages/guilded-api-typings/lib/v1/rest/index.ts
  packages/guilded-api-typings/lib/v1/structs/CalendarEvent.ts
  packages/guilded-api-typings/lib/v1/structs/index.ts
  packages/guilded-api-typings/lib/v1/ws/CalendarEvent.ts
  packages/guilded-api-typings/lib/v1/ws/Events.ts
  packages/guilded-api-typings/lib/v1/ws/index.ts
  packages/guilded.js/lib/constants.ts
  packages/guilded.js/lib/gateway/ClientGatewayHandler.ts
  packages/guilded.js/lib/gateway/handler/CalendarEventHandler.ts
  packages/guilded.js/lib/managers/global/CalendarManager.ts
  packages/guilded.js/lib/managers/global/index.ts
  packages/guilded.js/lib/structures/CalendarEvent.ts
  packages/guilded.js/lib/structures/Client.ts
  packages/rest/lib/util/Router.ts
  packages/rest/lib/util/routes.ts
  yarn.lock
Labels: enhancement, pkg: guilded.js, pkg: guilded-api-typings, pkg: rest
