Repository guildedjs/guilded.js, pull requests merged in 2022-05, with the labels that each got.

#95 feat: channels
  packages/guilded-api-typings/lib/v1/rest/Channel.ts
  packages/guilded-api-typings/lib/v1/rest/index.ts
  packages/guilded-api-typings/lib/v1/structs/Channel.ts
  packages/guilded-api-typings/lib/v1/structs/index.ts
  packages/guilded-api-typings/lib/v1/ws/Channel.ts
  packages/guilded-api-typings/lib/v1/ws/Doc.ts
  packages/guilded-api-typings/lib/v1/ws/Events.ts
  packages/guilded-api-typings/lib/v1/ws/List.ts
  packages/guilded-api-typings/lib/v1/ws/Member.ts
  packages/guilded-api-typings/lib/v1/ws/Message.ts
  packages/guilded-api-typings/lib/v1/ws/Webhook.ts
  packages/guilded-api-typings/lib/v1/ws/index.ts
  packages/guilded.js/lib/constants.ts
  packages/guilded.js/lib/gateway/ClientGatewayHandler.ts
  packages/guilded.js/lib/gateway/handler/DocEventHandler.ts
  packages/guilded.js/lib/gateway/handler/ListEventHandler.ts
  packages/guilded.js/lib/gateway/handler/TeamChannelEventHandler.ts
  packages/guilded.js/lib/gateway/handler/TeamEventHandler.ts
  packages/guilded.js/lib/gateway/handler/TeamMemberEventHandler.ts
  packages/guilded.js/lib/gateway/handler/TeamWebhookEventHandler.ts
  packages/guilded.js/lib/managers/global/ChannelManager.ts
  packages/guilded.js/lib/managers/global/ListManager.ts
  packages/guilded.js/lib/structures/Client.ts
  packages/guilded.js/lib/structures/channels/Channel.ts
  packages/guilded.js/lib/structures/channels/DocChannel.ts
  packages/guilded.js/lib/structures/channels/ListChannel.ts
  packages/rest/lib/util/Router.ts
  packages/rest/lib/util/routes.ts
  pnpm-lock.yaml
Labels: enhancement, pkg: guilded.js, pkg: guilded-api-typings, pkg: rest

#96 feat: synthetic server join event
  .changeset/rare-bananas-speak.md
  packages/guilded.js/lib/constants.ts
  packages/guilded.js/lib/gateway/handler/TeamMemberEventHandler.ts
  packages/guilded.js/lib/structures/Client.ts
Labels: enhancement, automerge

#99 fix(ChannelManager): shouldCacheChannel getter
  .changeset/heavy-turtles-compete.md
  packages/guilded.js/lib/managers/global/ChannelManager.ts
Labels: bug, pkg: guilded.js

#100 fix: serverId required in RESTPostChannelsBody
  .changeset/sweet-ravens-fail.md
  packages/guilded-api-typings/lib/v1/rest/Channel.ts
Labels: bug, pkg: guilded-api-typings

#101 refactor: use shouldCacheBan getter
  packages/guilded.js/lib/managers/global/GuildBanManager.ts
Labels: refactor, pkg: guilded.js

#102 feat(ChannelManager): use cache before fetch, force param
  packages/guilded.js/lib/managers/global/ChannelManager.ts
Labels: enhancement, pkg: guilded.js

#103 refactor: ForumChannel extends Channel
  packages/guilded.js/lib/managers/global/ChannelManager.ts
  packages/guilded.js/lib/structures/channels/ForumChannel.ts
Labels: refactor, pkg: guilded.js

#104 fix(DocPayload): updatedAt/By optional
  packages/guilded-api-typings/lib/v1/structs/Doc.ts
Labels: bug, pkg: guilded-api-typings

#109 feat: removeChannelOnDelete cache option
  packages/guilded.js/lib/gateway/handler/TeamChannelEventHandler.ts
  packages/guilded.js/lib/structures/Client.ts
Labels: enhancement, pkg: guilded.js

#110 fix: update member banned prop on unban
  .changeset/itchy-spoons-sleep.md
  packages/guilded.js/lib/gateway/handler/TeamMemberEventHandler.ts
Labels: bug, pkg: guilded.js

#105 feat(Message): channel getter
  packages/guilded.js/lib/structures/Message.ts
Labels: enhancement, pkg: guilded.js

#108 feat(Message): delete method
  .changeset/plenty-buckets-join.md
  packages/guilded.js/lib/structures/Message.ts
Labels: enhancement, pkg: guilded.js

#106 feat(Channel): send method
  .changeset/real-meals-design.md
  packages/guilded.js/lib/structures/channels/Channel.ts
Labels: enhancement, pkg: guilded.js

#107 feat(Channel): delete method
  .changeset/cool-hornets-brush.md
  packages/guilded.js/lib/structures/channels/Channel.ts
Labels: enhancement, pkg: guilded.js

#112 chore: update contributors
  README.md
  package.json
  packages/embeds/package.json
  packages/gil/package.json
  packages/guilded-api-typings/package.json
  packages/guilded.js/package.json
  packages/rest/package.json
  packages/webhook-client/package.json
  packages/ws/package.json
Labels: meta

#113 feat: channel update support
  .changeset/twenty-lobsters-worry.md
  packages/guilded-api-typings/lib/v1/rest/Channel.ts
  packages/guilded-api-typings/lib/v1/structs/Channel.ts
  packages/guilded.js/lib/managers/global/ChannelManager.ts
  packages/guilded.js/lib/structures/channels/Channel.ts
  packages/rest/lib/util/Router.ts
Labels: enhancement, pkg: guilded.js, pkg: guilded-api-typings, pkg: rest

#123 chore: delete @guildedjs/embeds and move to guilded.js
  .changeset/eleven-keys-join.md
  packages/embeds/LICENSE
  packages/embeds/README.md
  packages/embeds/lib/consts.ts
  packages/embeds/lib/index.ts
  packages/embeds/lib/util.ts
  packages/embeds/package.json
  packages/embeds/tsconfig.json
  packages/guilded.js/lib/index.ts
  packages/guilded.js/lib/managers/global/MessageManager.ts
  packages/guilded.js/lib/structures/Embed.ts
  packages/guilded.js/lib/structures/Message.ts
  packages/guilded.js/lib/structures/index.ts
  packages/guilded.js/lib/util.ts
  packages/guilded.js/package.json
  pnpm-lock.yaml
Labels: refactor, pkg: guilded.js, pkg: embeds

#124 feat: convert embed objects to payload in message send
  packages/guilded.js/lib/util.ts
Labels: pkg: guilded.js
