Repository guildedjs/guilded.js, pull requests merged in 2022-08, with the labels that each got.

#163 docs: add comment about timestamp format
  packages/guilded-api-typings/lib/v1/rest/Message.ts
Labels: documentation, pkg: guilded-api-typings

#166 fix: correct cache option for removing bans
  .changeset/dull-pumpkins-enjoy.md
  packages/guilded.js/lib/gateway/handler/TeamMemberEventHandler.ts
  packages/guilded.js/lib/managers/global/GuildBanManager.ts
Labels: bug, pkg: guilded.js

#165 feat: calendar manager
  .changeset/pink-brooms-behave.md
  packages/guilded.js/lib/gateway/handler/CalendarEventHandler.ts
  packages/guilded.js/lib/managers/global/CalendarManager.ts
  packages/guilded.js/lib/structures/Client.ts
Labels: enhancement, pkg: guilded.js

#169 feat: support for calendar event rsvps
  .changeset/thirty-feet-clean.md
  packages/guilded-api-typings/lib/v1/rest/CalendarEvent.ts
  packages/guilded-api-typings/lib/v1/structs/CalendarEvent.ts
  packages/guilded-api-typings/lib/v1/ws/CalendarEvent.ts
  packages/guilded-api-typings/lib/v1/ws/Events.ts
  packages/guilded.js/lib/constants.ts
  packages/guilded.js/lib/gateway/ClientGatewayHandler.ts
  packages/guilded.js/lib/gateway/handler/CalendarEventHandler.ts
  packages/guilded.js/lib/managers/global/CalendarManager.ts
  packages/guilded.js/lib/structures/CalendarEvent.ts
  packages/guilded.js/lib/structures/Client.ts
  packages/rest/lib/util/Router.ts
  packages/rest/lib/util/routes.ts
Labels: enhancement, pkg: guilded.js, pkg: guilded-api-typings, pkg: rest
